:root {
  --color-main: #A1C4EB;
  --color-back: #212121;
  --color-card: #111111;
}

* {
  margin: 0;
  padding: 0;
}

h1 {
  display: block;
  font-size: 2em;
  margin-top: 0.67em;
  margin-bottom: 0.67em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

h2 {
  display: block;
  font-size: 1.75em;
  margin-top: 0.83em;
  margin-bottom: 0.83em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

p {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
}

body {
  /* width: 1900px; */
  margin: 0 auto;
  background-color: var(--color-back);
}

body::-webkit-scrollbar {
  width: 2px;
  /* background-color: #212121; */
}

body::-webkit-scrollbar-track {
  background-color: var(--color-back);
}

body::-webkit-scrollbar-thumb {
  background-color: var(--color-main);
  border-radius: 1px;
}

header {
  position: sticky;
  top: 0px;
  display: flex;
  background-color: var(--color-back);
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  /* background-color: yellow; */
  padding-bottom: 15px;
  margin: 0 auto 10px;
  /* margin-bottom: 10px; */
  width: 1920px;
}

header > h1 {
  color: var(--color-main);
  margin: 0;
  padding: 10px 25px 0 25px;
}

.inputForm {
  display: flex;
  flex-direction: row;
  padding: 10px 25px 0 25px;
}

#input {
  color: var(--color-main);
  font-size: 15px;
  padding: 0 7px;
  background-color: var(--color-back);
  border: 2px solid var(--color-main);
  border-right: 0;
  width: 350px;
  height: 30px;
}

#input:focus {
  outline: none;
}

#inputButton {
  background-color: var(--color-main);
  border: 2px solid var(--color-main);
  width: 35px;
  color: var(--color-back);
  font-size: 23px;
  font-weight: bolder;
}

ul {list-style: none;}

.tabMenu {
  width: 100%;
  height: 100px;

  position:relative;
}

.tab {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;

  width: 380px;
  margin: 10px 40px 20px 40px;
  padding: 20px;

  overflow: hidden;
}

.tab > li {
  color: #468fe1;
  font-size: 45px;
  font-weight: 300;
  text-align: center;
}

.is_on .btn {
  color: white;
  font-weight: bolder;
}

.btn {
  font-size: 38px;
  font-weight: 450;
}

a {
  text-decoration-line: none;
  color: var(--color-main);
}

.chartArea {
  position: absolute;
}

.cont {
  display: none;
}

.cardList1 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.cardList2 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.card {
  background-color: var(--color-card);
  border-radius: 15px;
  overflow: hidden;
  /* background-color: #212121; */
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 2px solid var(--color-back);
  width: 346px;
  height: 625px;
  margin-bottom: 25px;
}

.card:hover {
  border: 2px solid var(--color-main);
  border-radius: 15;
  width: 346px;

  filter: grayscale(90%);
}
.cardWrap {
  height: 625px;

  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.detailBtnWrap {
  width: 346px;
  height: 625px;
  margin-bottom: 25px;

  display: flex;
  justify-content: center;
  align-items: center;

  display: none;
  position: absolute;
}

.goDetail {
  background-color: white;
  border: none;
  border-radius: 10px;

  width: 250px;
  height: 75px;

  text-align: center;
  line-height: 80px;
  font-size: 30px;
  font-weight: 450;
}

.card:hover > .detailBtnWrap {
  display: block;

  display: flex;
  justify-content: center;
  align-items: center;
}

.goDetail:hover {
  cursor: pointer;
  filter: grayscale(90%);

  box-shadow: 0px 0px 6px 4px #468fe1 inset;
  transition-duration: 0.15s;
}

.btnWrap {
  width: 346px;
  height: 611px;
  
  display: flex;
  align-items: center;
  justify-content: center;
}

.card img {
  display: flex;
  width: 100%;
}

.card h2 {
  color: var(--color-main);
  margin-top: 5px;
  margin-bottom: 0;
  text-align: center;
}

.rating {
  margin-top: 20px;
  margin-bottom: 15px;
  margin-left: 10px;
  color: var(--color-main);
  text-align: center;
}