

ul {list-style: none;}

.tabMenu {
  width: 100%;
  height: 100px;

  position:relative;
}

.tab {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 20px;
  align-items: center;
  padding: 20px 0px;
}
.tab > span.line{
  width: 1px;
  height: 20px;
  background-color: #fff;
}

.tab > li {
  color: #fff;
  /* font-size: 45px; */
  /* font-weight: 300; */
  text-align: center;
}

.is_on .btn {
  color: var(--color-main);
  font-weight: bolder;
  position: relative;
}
.is_on .btn::before{
  content: '';
  display: block;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: #468fe1;
  position: absolute;
  top: -2px;
  left: -9px;
}

.btn {
  font-size: 28px;
  font-weight: 450;
}

a {
  text-decoration-line: none;
  color: #fff;
}

.movieChartTab_wrap{
  width: 95%;
  margin: 0 auto;
}

.chartArea {
  position: absolute;
  width: 100%;
}

.cont {
  display: none;
  width: 100%;
}

.cardList {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15%, auto));
  width: 95%;
  margin: 0 auto;
  column-gap: 20px;
  row-gap: 40px;
}

/* .cardList2 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
} */

.card {
  /* background-color: var(--color-card); */
  /* border-radius: 15px; */
  overflow: hidden;
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 2px solid var(--color-back);
  /* width: 346px; */
  /* height: 625px; */
  margin-bottom: 25px;
}

.card:hover {
  border: 2px solid var(--color-main);
  border-radius: 15;
  /* width: 346px; */

  filter: grayscale(90%);
}
.cardWrap {
  position: relative;
  gap: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.detailBtnWrap {
  width: 100%;
  height: 100%;
  margin-bottom: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
  position: absolute;
}

.goDetail {
  background-color: white;
  border: none;
  border-radius: 10px;
  text-align: center;
  font-size: 18px;
  font-weight: 450;
  padding: 14px 36px;
}

.card:hover > .detailBtnWrap {
  display: block;
  display: flex;
  justify-content: center;
  align-items: center;
}

.goDetail:hover {
  cursor: pointer;
  filter: grayscale(90%);
  box-shadow: 0px 0px 7px 0px #468fe1 inset;
  transition-duration: 0.15s;
}

.btnWrap {
  width: 346px;
  height: 611px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card img {
  display: flex;
  width: 100%;
  border-radius: 9px;
}

.card h2 {
  /* color: var(--color-main); */
  text-align: center;
  margin: 30px 0 0px;
  font-size: 22px;
  line-height: 1.3;
  padding: 0 10px;
  min-height: 60px;
}

.rating {
  /* margin-top: 20px;
  margin-bottom: 15px;
  margin-left: 10px; */
  color: var(--color-main);
  text-align: center;
  margin: 0 0 20px;
  font-size: 16px;
}

@media screen and (max-width: 1500px) {
  .cardList {
    grid-template-columns: repeat(auto-fill, minmax(16%, auto));
  }
}
@media screen and (max-width: 1200px) {
  .cardList {
    grid-template-columns: repeat(auto-fill, minmax(20%, auto));
  }
}
@media screen and (max-width: 768px) {
  .cardList {
    grid-template-columns: repeat(auto-fill, minmax(33%, auto));
  }
}