.mainBanner{
    width: 100%;
    height: 900px;
    /* background-color: antiquewhite; */
    margin-bottom: 100px;
}
.mainBanner ul{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}
.mainBanner ul li{
    width: 8vw;
    height: 100%;
    transition: all 0.5s;
    cursor: pointer;
    opacity: 0.2;
    overflow: hidden;
}
.mainBanner ul li.active{
    width: 68vw;
    opacity: 1;
    position: relative;
}
.mainBanner ul li iframe{
    display: none;
}
.mainBanner ul li.active iframe{
    display: block;
}
.mainBanner ul li .b-item{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.mainBanner ul li.active .b-item > img,
.mainBanner ul li.active .b-item > h2{
    display: none;
}
.mainBanner ul li.active .bannerTitle{
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 0 0 4% 4%;
}
.mainBanner ul li.active .bannerTitle h2{
    color: #fff;
    font-size: 70px;
    font-weight: bold;
    margin: 40px 0;
    transform-origin: left;
    animation: scale 3s  forwards;
}

@keyframes scale{
    0%{
        transform: scale(1.5);
    }
    100%{
        transform: scale(1);
    }
}

.mainBanner ul li.active .bannerTitle button{
    padding: 20px;
    background-color: #fff;
    color: black;
}

.mainBanner ul .b-item h2{
    color: #fff;
    position: absolute;
    bottom: 0;
    transform: rotate(270deg);
    width: 100%;
    text-align: start;
}
.mainBanner ul .b-item img{
    height: 100%;
    object-fit: cover;
}
.mainBanner ul li:nth-child(1){background-color: aliceblue;}
.mainBanner ul li:nth-child(2){background-color: rgb(181, 215, 243);}
.mainBanner ul li:nth-child(3){background-color: rgb(134, 192, 242);}
.mainBanner ul li:nth-child(4){background-color: rgb(86, 170, 243);}
.mainBanner ul li:nth-child(5){background-color: rgb(24, 142, 245);}